/*
* These are some default styles which make the jQDB tables look "ok".
* Of course you are able to completly omit these styles (by not loading this stylesheet, or not giving the class "jQDB" to your table) or you can just 
* overload them to suit your needs. 
*
* You are completely free in what you are doing.
*
* Note: this is a "quick hack" stylesheet expecting the client to be a browser which can work with CSS3 props (this sheet is makeing use of box shadows, border radius etc...)
*/

/* SIMPLE STYLES */
table.jQDB,
table.jQDB tr td {
   border : 1px solid #DDD;
   border-radius: 3px;
   font-family: verdana,arial;
}

table.jQDB tr:nth-child(even) td {
   background-color: #EEE;
}

table.jQDB tr input {
   opacity: 0.7;
   border: 0px;
   background-color: transparent;
}
table.jQDB tr input[type="checkbox"] { /* do not use opacity for checkboxes.. looks uncool */
   opacity: 1;
}
table.jQDB tr input:focus {
   border: 0px;
   outline: 0px;
   opacity: 1;
}

table.jQDB tr select {
   width: 100%;
   border: 0px;
   background-color: transparent;
}
table.jQDB tr select:focus {
   border: 0px;
   outline: 0px;
}

table.jQDB a.jqdb-paging-button {
   border: 1px solid #AAA;
   padding: 5px;
   background-color: #EEE;
   margin: 3px 3px 3px 1px;
   min-width: 25px;
   display: inline-block; /* better would be to float the buttons left and add a clearfix to the paging container, but I won't expect you to have a clearfix css class */
   text-align: center;
   cursor: pointer;
   border-radius: 2px;
   /*box-shadow: 1px 1px 1px #EEE;*/
}

table.jQDB .jqdb-paging-button.active {
   background-color: #BBB;
   color: white;
   text-shadow: 0px 0px 3px black;
}

/* CUSTOM DEMO STYLES */
table.jQDB tr td.jqdb-delete-row-button {
   background-color: darkred;
   color: white;
   text-align: center;
   cursor: pointer;
}

table.jQDB tr td.jqdb-paging {
   position: relative; /* so sub elems may use absolute positioning */
   background-color: white;
}
table.jQDB .jqdb-paging .jqdb-entry-counter {
   position: absolute;
   bottom: 0px;
   right: 0px;
   font-size: 10px;
   border-top: 1px dashed #BBB;
   border-left: 1px dashed #BBB;
   margin: 5px;
   padding-top: 3px;
   padding-left: 3px;
}

/* EXAMPLE: HIDING ELEM COUNTER */
/*table.jQDB .jqdb-entry-counter {
   display: none;
}*/